@font-face {
  font-family: ArimaKoshi;
  src: url(arima/ArimaKoshi-Medium.otf);
}

* {
  font-family: ArimaKoshi;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

.container-fluid {
  padding: 0;
}
.header {
  max-width: 100%;
  height: 100vh;
  border: 1px solid;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)),
    url("images/1.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.header .headerChild {
  width: 50%;
  height: 30%;
  text-align: center;
  color: #fff;
}
.header .headerChild span {
  color: #c9184a;
}
.header button {
  border: 1px solid #fff;
  color: #fff;
  margin: 20px;
  padding: 10px 20px;
  border-radius: none;
}
.header button:hover {
  background-color: #00cec9;
  border: none;
  color: white;
}
.navbar {
  border-bottom: 4px solid #00cec9;
  /* padding: 14px 10px; */
}
#navbar1 .navbar-nav li a {
  color: #fff;
  padding: 10px 30px;
}
#navbar1 .navbar-nav li a.check {
  color: #e31b6d;
}
#navbar1 .navbar-nav li a:hover:not(.check) {
  color: #e31b6d;
  transition: 0.5s color;
}

/* ABOUT US START */

hr {
  width: 50px;
  border: 2px solid black;
  margin: 0 auto;
}
.icons {
  padding: 50px 0;
}
.bi-speedometer::before {
  content: "\f57f";
  font-size: 60px;
  background: #00cec9;
  padding: 20px;
  color: #fff;
  clip-path: polygon(
    50% 0%,
    90% 20%,
    100% 60%,
    75% 100%,
    25% 100%,
    0% 60%,
    10% 20%
  );
  animation: example 3s 3 alternate-reverse;
}

.bi-laptop::before {
  content: "\f456";
  font-size: 60px;
  background: #00cec9;
  padding: 20px;
  color: #fff;
  clip-path: polygon(
    50% 0%,
    90% 20%,
    100% 60%,
    75% 100%,
    25% 100%,
    0% 60%,
    10% 20%
  );
  animation: example 3s 3 alternate-reverse;
}
.bi-lightbulb::before {
  content: "\f46b";
  font-size: 60px;
  background: #00cec9;
  padding: 20px;
  color: #fff;
  clip-path: polygon(
    50% 0%,
    90% 20%,
    100% 60%,
    75% 100%,
    25% 100%,
    0% 60%,
    10% 20%
  );
  animation: example 3s 3 alternate-reverse;
}
.bi-lightning-charge::before {
  content: "\f46d";
  font-size: 60px;
  background: #00cec9;
  padding: 20px;
  color: #fff;
  clip-path: polygon(
    50% 0%,
    90% 20%,
    100% 60%,
    75% 100%,
    25% 100%,
    0% 60%,
    10% 20%
  );
  animation: example 3s 3 alternate-reverse;
}
/* @keyframes example {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(180deg);
    background-color: #e31b6d;
  }
} */
.imageClip {
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

/* PROJECT START */

#project {
  background-color: #eee;
}
#project ul li {
  margin: 0 20px;
}
#project ul li a {
  margin: 0 20px;
  color: #636e72;
}
#project ul li .active {
  color: #eee;
  background-color: #e31b6d;
}
#project ul li a:hover {
  background-color: #e31b6d;
  color: #eee;
}
#project .btn-custome {
  border: 1px solid #e31b6d;
  padding: 4px 20px;
}
#project .btn-custome:hover {
  background-color: #e31b6d;
  color: white;
}

/* BLOG START */

.cardanchor {
  border: 1px solid #e31b6d;
  padding: 8px 18px;
  color: #000000;
}
.cardanchor:hover {
  background-color: #e31b6d;
  transition: 0.5s;
  color: #eee;
}

/* CONTACT START */

#contact {
  color: #eee;
  background-color: #1e272e;
}
#contact p {
  padding: 2rem;
  color: #00cec9;
}
#contact form input {
  background-color: black;
  border: 1px solid black;
  outline: none;
}
textarea.form-control {
  height: auto;
  background-color: black;
  border: 1px solid black;
}
textarea.form-control:focus {
  background-color: black;
}
#contact form .btn-form {
  border: 1px solid #00cec9;
  padding: 10px 20px;
}
#contact form .btn-form:hover {
  background-color: #00cec9;
}

/* FOOTER START */

#fixed-icon {
  background-color: #000000;
}
#fixed-icon .socialIcons a {
  text-decoration: none;
}
#fixed-icon .socialIcons a i {
  padding: 5px 13px;
  background-color: #2c3e50;
  font-size: 25px;
  color: #eee;
}
#fixed-icon .socialIcons a i:hover {
  background-color: #e31b6d;
  color: eee;
}
.bi-arrow-up-square-fill::before {
  content: "\f146";
  font-size: 30px;
  margin-right: 30px;
  color: #eee;
}

@media screen and (max-width: 1024px) {
  /* NAVIGATION */

  .header h1 {
    font-size: 2rem;
  }
  .header button {
    padding: 7px 11px;
  }
  #navbar1 .navbar-nav li a {
    color: #fff;
    padding: 10px 20px;
  }

  /* ABOUT */

  #about h1 {
    font-size: 2rem;
  }
  .icons {
    padding: 25px 0;
  }
  #about h4 {
    padding-top: 13px;
  }
  #about #progress {
    padding-top: 20px;
  }

  /* PROJECT */

  #project h1 {
    font-size: 2rem;
  }

  /* BLOG */

  #blog h1 {
    font-size: 2rem;
  }

  .cardanchor {
    padding: 5px 10px;
  }

  /* CONTACT */

  #contact h1 {
    font-size: 2rem;
  }

  #contact form .btn-form {
    padding: 5px 15px;
  }
}

@media screen and (max-width: 768px) {
  /* NAVIGATION */

  .header h1 {
    font-size: 1.7rem;
  }
  .header button {
    margin: 7px 0;
  }

  #navbar1 .navbar-nav li a {
    padding: 3px 10px;
  }

  /* ABOUT */

  #about h1 {
    font-size: 1.7rem;
  }
  .icons {
    padding: 15px 0;
  }
  #about h4 {
    padding-top: 13px;
    font-size: 18px;
  }
  #about p {
    font-size: 14px;
  }
  #about #progress {
    padding-top: 25px;
  }

  /* PROJECT */

  #project {
    padding: 10px 0 !important;
  }

  #project h1 {
    font-size: 1.7rem;
  }

  #project ul li a {
    margin: 0 10px;
    padding: 3px 13px;
  }
  .card-title {
    font-size: 18px;
  }
  #project .btn-custome {
    padding: 4px 10px;
    font-size: 12px;
  }

  /* BLOG */

  #blog {
    padding: 10px 0 !important;
  }

  #blog h1 {
    font-size: 1.7rem;
  }

  #blog p {
    font-size: 14px;
  }

  #blog .cardanchor {
    padding: 1px 8px;
    font-size: 13px;
  }

  /* CONTACT */

  #contact {
    padding: 10px 0 !important;
  }

  #contact h1 {
    font-size: 1.7rem;
  }
  #contact > div {
    width: 600px;
  }

  /* FOOTER */

  #fixed-icon {
    padding: 10px 0 !important;
  }

  #fixed-icon .socialIcons a i {
    padding: 3px 11px;
    font-size: 22px;
  }
}

@media screen and (max-width: 425px) {
  /* NAVIGATION */

  .header h1 {
    font-size: 1.25rem;
  }
  .header button {
    margin: 5px 0;
    font-size: 11px;
  }

  #navbar1 .navbar-nav li a {
    text-align: center;
  }

  .navbar-dark .navbar-toggler {
    font-size: 15px;
  }

  /* ABOUT */

  #about h1 {
    font-size: 1.25rem;
  }

  #about div.text-center.pb-5 {
    padding: 0 0 20px 0 !important;
  }

  .bi-speedometer::before,
  .bi-laptop::before,
  .bi-lightbulb::before,
  .bi-lightning-charge::before {
    font-size: 50px;
  }

  /* PROJECT */

  #project {
    padding: 10px 0 !important;
  }

  #project h1 {
    font-size: 1.25rem;
  }

  #project ul li {
    margin: 0;
  }

  /* BLOG */

  #blog div.text-center.py-5 {
    padding-bottom: 20px !important;
  }

  #blog h1 {
    font-size: 1.5rem;
  }

  #blog .container .card-columns .card {
    width: 350px;
    margin: 10px auto;
  }

  #blog .cardanchor {
    padding: 1px 8px;
    font-size: 13px;
  }

  /* CONTACT */

  #contact h1 {
    font-size: 1.5rem;
  }

  #contact p {
    padding: 1rem;
  }

  #contact > div {
    width: 100%;
  }
}

@media screen and (max-width: 375px) {
  /* PROJECT */

  #project ul li {
    font-size: 13px;
  }
  #project div.text-center.py-5 {
    padding: 20px 0 !important;
  }

  /* BLOG */

  #blog div.text-center.py-5 {
    padding: 20px 0 !important;
  }
  #blog .container .card-columns .card {
    width: 300px;
    margin: 10px auto;
  }
  #blog .cardanchor {
    display: flex;
    justify-content: center;
  }

  /* CONTACT */

  #contact > div {
    padding: 15px !important;
    width: 100%;
  }
  #contact p {
    font-size: 15px;
  }

  /* FOOTER */

  #fixed-icon .socialIcons a i {
    font-size: 18px;
  }

  #fixed-icon .bi-arrow-up-square-fill::before {
    margin: 0 20px 0 0;
  }
  #fixed-icon p {
    font-size: 15px;
  }
}

@media screen and (max-width: 320px) {
  /* NAVIGATION */

  .header h1 {
    font-size: 1rem;
  }
  .navbar-dark .navbar-toggler {
    font-size: 10px;
  }
  #navbar1 .navbar-nav li a {
    font-size: 14px;
  }

  /* ABOUT */

  #about h1 {
    font-size: 20px;
  }
  .bi-speedometer::before,
  .bi-laptop::before,
  .bi-lightbulb::before,
  .bi-lightning-charge::before {
    font-size: 40px;
  }

  /* PROJECT */

  #project h1 {
    font-size: 20px;
  }

  #project ul li {
    font-size: 12px;
  }

  #project ul li a {
    padding: 5px 8px;
  }

  /* BLOG */

  #blog h1 {
    font-size: 20px;
  }
  .card-title {
    font-size: 15px;
  }
  #blog p {
    font-size: 12px;
  }
  #blog .container .card-columns .card {
    width: 280px;
    margin: 10px;
  }

  /* CONTACT */
  #contact h1 {
    font-size: 20px;
  }
  #contact p {
    font-size: 13px;
  }
  #contact form.w-50.mx-auto {
    width: 200px !important;
  }
  #contact form .btn-form {
    font-size: 11px;
  }
}
